.searchBox {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.inputSearch {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.inputSearch:focus {
    border-color: #28a745;
    outline: none;
}